*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
    font-family:'IBM Plex Serif', serif !important;
}

.red_num {
    font-size: 750%;
    text-align: center;
    color: purple;
}

.red_s-h{
    font-size: 340%;
    text-shadow: 0px 4px 3px #198754;
    text-shadow: 4px 4px 0px #198754, 2px 2px 2px #198754;
    position: relative;
    animation: pulse 0.7s infinite;
    animation-direction: alternate;  
}

.red_img_rotate{
    animation: rotate 5.0s infinite;
    animation-direction: normal; 
    animation-timing-function: linear;
}

.red_img_shake{
    animation: shake 1.0s infinite;
    animation-direction: alternate; 
}

.red_img_pick_shake{
    animation: pick_shake 1.0s infinite;
    animation-direction: normal; 
}

.red_img_slide{
    animation: slide 1.0s infinite;
    animation-direction: normal; 
    animation-timing-function: ease;
}

.scatter_list{
    border:0px solid saddlebrown;
    list-style: none;
}

.scatter_list li{
    position: relative;
    border:1px solid grey;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    width: 300px;
    color: #000000;
    background-color: white;
    transition: .8s;
}
/* ------------------------------------------------------------------------------------------------------- */
.scatter_list li:nth-child(1) {        
    transform: translate(200px,0px) rotate(15deg);
}
.scatter_list li:nth-child(2) {        
    transform: translate(100px,0px) rotate(3deg);
}
.scatter_list li:nth-child(3) {        
    transform: translate(200px,0px) rotate(15deg);
}
.scatter_list li:nth-child(4) {        
    transform: translate(500px,-300px) rotate(-15deg);
}
.scatter_list li:nth-child(5) {        
    transform: translate(700px,-350px) rotate(-5deg);
}
.scatter_list li:nth-child(6) {        
    transform: translate(500px,-320px) rotate(-3deg);
}
/* ------------------------------------------------------------------------------------------------------- */
.scatter_list li:nth-child(1):hover {        
    transform: translate(200px,0px) rotate(0deg) scale(2);
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.scatter_list li:nth-child(2):hover {        
    transform: translate(200px,0px) rotate(0deg) scale(2);
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.scatter_list li:nth-child(3):hover {        
    transform: translate(200px,0px) rotate(0deg) scale(2);
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.scatter_list li:nth-child(4):hover{
    transform: translate(500px,-300px) rotate(0deg) scale(2);
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.scatter_list li:nth-child(5):hover{
    transform: translate(700px,-300px) rotate(0deg) scale(2);
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.scatter_list li:nth-child(6):hover{
    transform: translate(500px,-320px) rotate(0deg) scale(2);
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
/* ------------------------------------------------------------------------------------------------------- */
@keyframes pick_shake{
    0%{transform: translate(0px,15px);}
    60%{transform: translate(0px,15px);}
    70%{transform: rotate(-1.75deg);}
    75%{transform: rotate(1.75deg);}
    80%{transform: rotate(-1.75deg);}
    85%{transform: rotate(1.75deg);}
    100%{transform: translate(0px,0px);}
}

@keyframes pulse{
    0% {text-shadow: 0px 0px 3px #198754;}
    100% {text-shadow: 0px 4px 3px #198754;}
}

@keyframes shake{
    0%{transform: rotate(-11.75deg);}
    100%{transform: rotate(3.5deg);}    
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}    
}

@keyframes slide{
    0%{transform: translate(-200px,0px);}
    100%{transform: translate(270px,0px);}
}
/* ------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    .scatter_list li:nth-child(1) {        
        transform: translate(0px,0px) rotate(0deg);
    }
    .scatter_list li:nth-child(2) {        
        transform: translate(0px,0px) rotate(0deg);
    }
    .scatter_list li:nth-child(3) {        
        transform: translate(0px,0px) rotate(0deg);
    }
    .scatter_list li:nth-child(4) {        
        transform: translate(0px,0px) rotate(0deg);
    }
    .scatter_list li:nth-child(5) {        
        transform: translate(0px,0px) rotate(0deg);
    }
    .scatter_list li:nth-child(6) {        
        transform: translate(0px,-0px) rotate(0deg);
    }
    .scatter_list li:nth-child(1):hover {        
        transform: translate(0px,0px) rotate(0deg) scale(1.2);
        z-index: 1;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    .scatter_list li:nth-child(2):hover {        
        transform: translate(0px,0px) rotate(0deg) scale(1.2);
        z-index: 1;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    .scatter_list li:nth-child(3):hover {        
        transform: translate(0px,0px) rotate(0deg) scale(1.2);
        z-index: 1;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    .scatter_list li:nth-child(4):hover {        
        transform: translate(0px,0px) rotate(0deg) scale(1.2);
        z-index: 1;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    .scatter_list li:nth-child(5):hover {        
        transform: translate(0px,0px) rotate(0deg) scale(1.2);
        z-index: 1;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    .scatter_list li:nth-child(6):hover {        
        transform: translate(0px,0px) rotate(0deg) scale(1.2);
        z-index: 1;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    }
    .scatter_list li{
        position: relative;
        border: 0px;
        border-bottom: 1px solid grey;
        border-radius: 0px;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
        color: #000000;
        background-color: white;
        transition: .8s;
    }
  }